/* <!--=======================================
                        AUTHOR
       --------------------------------------
       RAFZAN B ROSHAM (FRONT-END ASSESSMENT)
    =========================================-->  */


    /* GENERAL STYLE
    ================================ */

    /* input design on page*/
    input
    {
        background-color:#ffc40000; font-weight: bold; font-size: 17px; font-family: "LabSansPro";
        height: 30px; width: 150px; border:none; cursor: pointer;
    }

    /* input design on page, when hover cursor */
    input:hover
    {
        color: #ffffff; background: rgba(0, 0, 0, 0.5); border-color:rgba(0, 0, 0, 0.5);
    }

    /* body design on page */
    body
    {
        margin: 0; height: 600px;
        background-color:#211211; color:#ffffff; font-family: "LabSansPro";
    }

    /* import custom font from local file */
    @font-face 
    {
        font-family: "LabSansPro";
        src: url("md/font/labsanspro.eot"); /* IE9*/
        src: url("md/font/labsanspro.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("md/font/labsanspro.woff2") format("woff2"), /* chrome、firefox */
        url("md/font/labsanspro.woff") format("woff"), /* chrome、firefox */
        url("md/font/labsanspro.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("md/font/labsanspro.svg#LabSansPro") format("svg"); /* iOS 4.1- */
    }

    /* remove white outline on buttons when click */
    :focus 
    {
        outline: none !important;
    }
    

    /* PAGE HEADER 
    ================================ */

    /* website header logo */
    .logoWeb
    {
        margin-top: -0.25%; margin-left:2%; float: left; height:48px; width: 46px; cursor: none;
    }

    /* sign up and login header button */
    .logoWiz
    {
        position: absolute; top: 35%; right: 1%; height: 30px; width: 30px;
    }

    /* sign up and login header button, when hover cursor */
    .logoWiz:hover
    {
        height: 31px; width: 31px; background-color: transparent;
    }

    /* header background */
    .h8der
    {
        position: relative; padding: 25px; overflow: hidden; 
        text-align: center; font-size: 30px; font-weight: bold;
        background: linear-gradient(79deg, #002fff, #0023be, #4c6dff);
        background-size: 700% 700%;

        -webkit-animation: gradAnim 10s ease infinite;
        animation: gradAnim 10s ease infinite;
    }

    /* header page anchor button (Home, About, Tools, Contact)*/
    .h8der a
    {
        color: black; text-align: center; padding: 20px; padding-bottom: 70px; margin: 1%; line-height: 25px; border-radius: 4px;
        text-decoration: none; font-size: 17px; letter-spacing: 2.5px;
    }

    /* header page anchor button, when hover cursor */
    .h8der a:hover
    {
        background-color:  rgba(0, 0, 0, 0.5); color: #fff; text-align: center; padding: 20px; padding-bottom: 70px; margin: 1%; line-height: 25px; border-radius: 4px;
        text-decoration: none; font-size: 17px;
    }

    /* header page button to the active/current page */
    .h8der a.xtvate-h8d
    {
        text-align: center; background-color: #202020; color: #ffc400; 
    }


    /* PAGE FOOTER 
    ================================ */

    /* footer anchor button (About Us, Contact Us, Our Tools, Register) */
    footer a
    {
        color: white; padding: 0 22.5px 15px 22.5px; line-height: -20px; margin-bottom: 20px;
        text-decoration: none; font-size: 17px; float: left;
    }

    /* footer anchor, when hover */
    footer a:hover
    {
        color: #002fff;
    }

    /* footer inputs */
    footer input
    {
        color:#fff; border: 1.5px solid; padding-top: 15px; padding-bottom: 35px; border-radius: 4px; margin: 2%;
    }

    /* 3 vertical lines on footer */
    .verT
    {
        border-left: 5px solid #002fff; height: 30px; padding-left: 35px;
    }
    
    /* follow social media button */
    .followUs input
    {
        padding-top: 0px; padding-bottom: 0px; height: 32px; width: 32px; border: none;
    }

    /* footer enter email text input */
    .SubMail, .SubMail:hover
    {
        color: rgb(255, 255, 255, 0.75); border: solid 2px #002fff; font-size: 20px; font-weight: normal; 
        padding: 5px 0 5px 10px; margin: 0 0 70px 45px; width: 420px;
        border-top: none; border-left: none; border-right: none; border-radius: 0px; cursor: text;
    }

    /* footer send email button */
    .SubMailBttn
    {
        color: #000; background-color: #002fff; border-color: #002efa; font-size: 16px;
        padding: 10px 0 30px 0; margin: 0; border-radius: 0px 4px 4px 0px;
    }

    /* footer send email button, when hover cursor*/
    .SubMailBttn:hover
    {
        background-color: rgb(155, 153, 255); color: #000; font-size: 16px;
    }

    
    /* HOME PAGE 
    ================================ */

    /* gif-animated text (disabled) */
    .HomeTitle h1 
    {
        background-image: url('md/net.webp'); color: transparent;
        background-clip: text; -moz-background-clip: text; -webkit-background-clip: text;
        text-transform: uppercase; font-size: 70px; line-height: 0.75; margin: 10px 0; letter-spacing: 1px;
    }

    /* first paragraph info, when hover cursor */
    .infoX p:hover
    {
        transition: all 0.5s ease-in-out; letter-spacing: 2px;
    }

    /* tools page button background */
    .HoverBG
    {
        height: 250px; -webkit-filter: grayscale(100%) blur(15px); filter: grayscale(100%) blur(15px);
    }

    /* tools page button background, when hover cursor*/
    .HoverBG:hover
    {
        -webkit-filter: grayscale(0) blur(0); filter: grayscale(0) blur(0); -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out;

        -webkit-transition: all 1.5s ease; -moz-transition: all 1.5s ease; -ms-transition: all 1.5s ease; transition: all 1.5s ease;
    }

    /* go to tools page button */
    .Tpics input
    {
        text-align: left; font-size: 50px; padding-left: 250px;
        height: 250px; 
    }

    /* go to tools page button, when hover curosr */
    .Tpics input:hover
    {
        background-color: rgba(0, 0, 0, 0.5); padding-left: 250px;
    }


    /* ABOUT US PAGE 
    ================================ */

    /* body paragraph on About Us page */
    .bodyBout p
    {
        font-weight: normal; font-size: 17px; margin-left: 100px; margin-right: 100px;
    }

    /* texts in canvas */
    #CanvasTxt
    {
        color:rgb(255, 255, 255);
        position: relative; height: 500px; align-items: center;
    }
    #CanvasTxt2
    {
        color:#fff;
        position: relative; height: 800px; align-items: center;
    }

    /* canvas for interactive animated nodes */
    canvas
    {
        color:#fff; position: absolute; top:0; left:0; z-index:0; width: 100%; height: 100%;
    }

    /* bottom text for word changing */
    #RevealTxt
    {
        padding-top: 200px; display:inline-block; overflow: hidden; white-space: nowrap;
    }

    /* top and bottom texts */
    .TopTxt, .BotTxt
    {    
        animation: showup 15s; font-size: 60px;
    }

    /* bottom text default state */
    .BotTxt span::before
    {
        content: ""; color: #002fff; font-size: 90px; width: 300px;
        animation: changeTxt infinite 9s;
    }
    .BotTxt2 span::before
    {
        content: ""; color: #002fff; font-size: 90px; width: 300px;
        animation: changeTxt2 infinite 9s;
    }

    /* about us background 1 & 2 */
    .BoutBG1, .BoutBG2 
    {
        position: relative; opacity: 0.65;
        background-attachment: fixed; background-position: center;
        background-repeat: no-repeat; background-size: cover;
    }

    /* about us background 1 settings */
    .BoutBG1 
    {
        background-image: url("md/bg/cod3.jpg");
        min-height: 300px;
    }

    /* about us background 2 settings */
    .BoutBG2 
    {
        background-image: url("md/bg/cyber.jpg");
        min-height: 300px;
    }

    /* about us text info */
    .BoutInfo 
    {
        color: #000;
        position: absolute; left: 0; top: 50%; width: 100%; text-align: center;
    }

    /* about us background text */
    .BoutInfo span.BoutCont
    {
        background-color: #202020; color: #fff;
        padding: 18px; font-size: 25px; letter-spacing: 10px;
    }

    /* about us background text, when hover cursor */
    .BoutCont:hover
    {
        text-shadow: 0 0 10px #fff; transition: all 0.3s ease-in-out;
    }

    /* about us info text 1, when hover cursor */
    .info1:hover
    {
        background: linear-gradient(79deg, #202020, #101010, #303030);
        background-size: 600% 600%; transition: all 1s ease-in-out; letter-spacing: 0.5px;

        -webkit-animation: gradAnim 10s ease infinite;
        animation: gradAnim 10s ease infinite;
    }

    /* about us info text 2, when hover cursor */
    .info2:hover
    {
        background: linear-gradient(79deg, #2a50f8, #0023c0, #4d6efd);
        background-size: 600% 600%; transition: all 1s ease-in-out; letter-spacing: 0.5px;

        -webkit-animation: gradAnim 10s ease infinite;
        animation: gradAnim 10s ease infinite;
    }


    /* TOOLS PAGE 
    ================================ */

    /* top background */
    .fadeIn-BG
    {
        height: 18  0px; background-image: url('md/bg/teck.jpg'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; text-align: center; 
    }

    /* top background headline */
    .fadeIn-BG h1
    {
        position: relative; top: 0%; height: 100px; color: #fff; font-size: 35px; padding-top: 180px; margin: 0; position: relative; background-color: rgba(0, 0, 0, 0.75); 
        transition: all 0.3s ease-in-out;
    }

    /* top background headline, when hover cursor */
    .fadeIn-BG h1:hover
    {
        color: #002fff; letter-spacing: 5px;
    }

    /* background of tools list on Tools page */
    .toolBG
    {
        background-color: #202020; height: 100%; padding: 100px 10% 50px 10%; overflow: hidden;
    }

    /* headlines of tools list background */
    .toolBG h1:hover
    {
        color: #002fff; 
    }

    /* paragraphs of tools list background */
    .toolBG p
    {
        font-size: 15px; margin-bottom: 30px; text-align: justify; 
    }

    /* images of tools list background */
    .toolBG img
    {
        height: 300px; width: 580px;
    }

    /* download button of tools list background */
    .toolBG input
    {
        border: 1px solid #002fff; background-color:#2950ff; color: #202020; font-size: 16px; padding: 10px 0px 30px 0px;
    }

    /* download button of tools list background, when hover cursor */
    .toolBG input:hover
    {
        background-color: #46c4ff;
    }


    /* CONTACT US PAGE 
    ================================ */

    /* top background for Contact Us page */
    .contactBG
    {
        height: 500px; background-image: url('md/bg/Rx73.jpeg'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; text-align: center; overflow: hidden;
    }

    /* background headline for Contact Us page */
    .contactBG h1
    {
        color: #fff; font-size: 50px; margin: 0; position: relative; height: 400px; padding-top: 150px; background-color: rgba(0, 0, 0, 0.75); 
    }

    /* background headline for Contact Us page, when hover cursor */
    .contactBG h1 p:hover
    {
        color: #002fff; 
    }

    /* background paragraph for Contact Us page */
    .contactBG p
    {
        font-size: 15px; font-weight: normal; text-align: justify center; 
    }

    /* contact text */
    .cont8
    {
        color: #fff; font-size: 23px; font-family: inherit; border: none; background-color: transparent; transition: all 0.3s ease-in-out; width: 250px;
    }

    /* contact text, when hover cursor */
    .cont8:hover
    {
        color: #002fff; cursor: copy;
    }


    /* REGISTER PAGE 
    ================================ */

    /* follow social media button for Register page */
    .SUp-Section img
    {
        margin: 0 10px -6px 0; height:24px; width: 24px; cursor: default;
    }

    /* input design on Register page*/
    .inputRgstr
    {
        background-color:#ffc40000; font-weight: bold; font-size: 17px; font-family: "LabSansPro";
        height: 30px; width: 150px; border: none; cursor: pointer;
    }

    /* input design on page, when hover cursor */
    .inputRgstr:hover
    {
        color: #ffffff; background: rgba(0, 0, 0, 0.5); border-color:rgba(0, 0, 0, 0.5);
    }

    /* grayscaled Wizard background image */
    .WizBG
    {
        background-image: url('md/bg/wizr.jpg'); height: 1000px; overflow: hidden; background-attachment: fixed;
        -webkit-filter: grayscale(100%) blur(5px);
        filter: grayscale(100%) blur(5px);
    }

    /* gradient colours register box */
    .signBox
    {
        border: 3px solid; border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.6); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
        width: 500px; height: 530px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
    }

    /* headline in register box when hover cursor */
    .signBox h2:hover
    {
        color: #002fff;
    }

    /* sign up button */
    .signUp
    {
        width: 200px; margin-top: 15px; background-color: #002fff; border: none; padding: 15px 0 15px 0; margin: 0;
    }

    /* sign up button, when hover cursor */
    .signUp:hover
    {
        background-color: #5171ff; cursor: pointer;
    }

    /* cancel for register button */
    .CancelPage 
    {
        width: 200px; padding: 15px 0 15px 0; margin: 0; background-color: rgb(255, 0, 0); border: none; cursor: pointer;
    }

    /* cancel for register button, when hover cursor*/
    .CancelPage:hover
    {
        background-color: rgb(145, 0, 0); border: none;
    }

    /* text inputs for user's fill-in data */
    .SUp-Section input[type=text], .SUp-Section input[type=password], .SUp-Section input[type=email]
    {
        font-size: 15px; font-weight: normal; width: 300px; border: 0.5px solid rgba(255, 255, 255, 0.35); padding: 6px 0 6px 6px; margin: 10px 0 5px 0; border: none;
        background-color:rgba(0, 0, 0, 0.5); color: #fff; cursor: text;
    }

    /* login button in register box */
    .logOpt input
    {
        width: 55px; margin: 0; background-color: transparent; 
    }


    /* ANIMATIONS
    ================================ */

    /* gradient animation transition */
    @-webkit-keyframes gradAnim { 0%{background-position:0% 24%} 50%{background-position:100% 77%} 100%{background-position:0% 24%} }
    @keyframes gradAnim { 0%{background-position:0% 24%} 50%{background-position:100% 77%} 100%{background-position:0% 24%} }

    /* fade-in animation */
    @keyframes fadeIn { 0% {opacity:0;} 100% {opacity:1;} }
    @-moz-keyframes fadeIn { 0% {opacity:0;} 100% {opacity:1;} }
    @-webkit-keyframes fadeIn { 0% {opacity:0;} 100% {opacity:1;} }
    @-o-keyframes fadeIn { 0% {opacity:0;} 100% {opacity:1;} }
    @-ms-keyframes fadeIn { 0% {opacity:0;} 100% {opacity:1;} }

    /* text word-changing animation for About Us page */
    @keyframes changeTxt { 0% {content: "Connect!";} 25% {content: "Build!";} 50% {content: "Live!";} 75% {content: "Rock!";} 100% {content: "Roll!";}}

    @keyframes changeTxt2 { 0% {content: "Buy!";} 25% {content: "Build!";} 50% {content: "Improve!";} 75% {content: "Play!";} 100% {content: "Game!";}}

    /* SLIDESHOW 
    ================================ */

    /* slideshow sizing */
    .slidershow
    {
        width: 100%; height: 690px; overflow: hidden;
    }
    
    /* slideshow positioning */
    .mid
    {
        position: absolute; top: 420px; left: 50%; transform: translate(-50%,-50%);
    }

    /* Navigation for Slide Buttons */
    .nav
    {
        position: absolute; bottom: 10%; left: 50%; transform: translate(-50%, 50%); display: flex;
    }

    /* Slide bar buttons design */
    .bar
    {
        width: 50px; height: 10px; background-color: #ffc400; opacity: 0.75; margin: 6px; cursor: pointer; transition: 1s;
    }

    /* Slide buttons design, when hover cursor */
    .bar:hover
    {
        background: rgb(255, 255, 255); opacity: 0.6;
    }

    /* hide radio buttons */
    input[name="rad"]
    {
        position: absolute; visibility: hidden;
    }

    /* full slides */
    .slides
    {
        width: 500%; height: 100%; display: flex; 
    }

    /* individual slide pages */
    .slide
    {
        width: 20%; transition: 1s; 
    }

    /* slide headline  */
    .slide h1
    {
        position: relative; top: 30%; left: 5%; float: left; text-align: left; font-size: 48px; width: 500px;
    }

    /* go to page button */
    .infoButton
    {
        position: relative; float: left; margin-top: 50px;
        color:#ffc400; border: 1px solid #ffc400; font-size: 18px; padding: 10px 5px 35px 5px; border-radius: 5px;
    }

    /* radio buttons */
    #r1:checked ~ .s1
    {
        margin-left: 0; 
    }

    #r2:checked ~ .s1
    {
        margin-left: -20%;
    }

    #r3:checked ~ .s1
    {
        margin-left: -40%;
    }

    #r4:checked ~ .s1
    {
        margin-left: -60%;
    }


    /* LIGHTBOX
    ================================ */

    /* cancel button */
    .Cancel 
    {
        width: auto; padding: 10px 18px; background-color: rgb(255, 0, 0); border: none; cursor: pointer;
    }

    /* cancel button, when hover */
    .Cancel:hover
    {
        background-color: rgb(145, 0, 0); border: none;
    }

    /* images setting */
    .imgLB-Section 
    {
        text-align: center; margin: 24px 0 12px 0; position: relative;
    }

    /* top image */
    img.SignAcc, img.EditAcc
    {
        width: 25%; border-radius: 50%; margin-top: 30px;
    }

    /* sign up button container */
    span.Pass 
    {
        float: right; padding-top: 10px; font-weight: normal; font-size: 14px;
    }

    /* lightbox and editbox background */
    .LightBox, .EditBox
    {
        display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; padding-top: 60px;
        font-size: 17px;
        background-color: rgb(0,0,0); 
        
        /* Fallback color */ background-color: rgba(0,0,0,0.6);
    }

    /* lightbox box and elements */
    .LightBox-content, .EditBox-content
    {
        background-color: #121212; margin: 5% auto 15% auto;
        border: 0.5px solid #ffc400; width: 500px; 
    }

    /* editbox box and elements */
    .EditBox-content
    {
        background-color: #121212; margin: 5% auto 15% auto;
        border: 0.5px solid #ffc400; width: 500px; 
    }

    /* username and password text input */
    .LB-Section input[type=text], .LB-Section input[type=password], .LB-Section input[type=email]
    {
        font-size: 15px; font-weight: normal; width: 460px; border: 0.5px solid rgba(255, 255, 255, 0.35); padding: 6px 0 6px 6px; margin: 10px 0 15px 0;
        color: #fff; cursor: text;
    }

    .Updt
    {
        width: auto; padding: 10px 18px; background-color: #ffc400; border: none; cursor: pointer;
    }


    /* login button */
    .logIn
    {
        width: 100%; margin-top: 15px; background-color: #002fff; border: none; padding: 15px 0 15px 0; margin-bottom: 20px;
    }

    /* login button, when hover cursor */
    .logIn:hover
    {
        background-color: #fff555; cursor: pointer;
    }

    /* close (X) button */
    .close 
    {
        position: absolute; right: 25px; top: 0; 
        color: #ffc400; font-size: 35px; font-weight: bold;
    }

    /* close (X) button, when hover cursor */
    .close:hover
    {
        color: red; cursor: pointer; border: none;
    }

    /* zoom in animation */
    .ZoomAnim 
    {
        -webkit-animation: animatezoom 0.6s; animation: animatezoom 0.6s
    }
    
    /* zoom in animation transition */
    @-webkit-keyframes animatezoom { from {-webkit-transform: scale(0)} to {-webkit-transform: scale(1)}}  
    @keyframes animatezoom { from {transform: scale(0)} to {transform: scale(1)}}



    .color-brand-green  {
        color: #76b900;
    }
    .color-brand-red {
        color: rgb(219,88,11);
    }
    *.unselectable {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
     
        /*
          Introduced in Internet Explorer 10.
          See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
        */
        -ms-user-select: none;
        user-select: none;
     }